@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap');
.ssPro {
    font-family: 'Source Sans Pro', sans-serif;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.pontano {
  font-family: 'Pontano Sans', sans-serif;
}